@import url(./globalStyles.css);

body {
  font-family: "Inter", sans-serif;
  background-color: var(--gray-2);
}

.header__container {
  width: 100%;
  padding-block: clamp(0.938rem, 0.848rem + 0.446vw, 1.25rem);
  padding-inline: clamp(0.938rem, -1.473rem + 12.054vw, 9.375rem);
  background-color: var(--gray-1);
  border-bottom: 2px solid var(--brand-1);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__info {
  display: flex;
  justify-content: space-between;
}

.header__button {
  padding: 20px 32px;
  color: var(--gray-7);
  background-color: transparent;
  border: 1px solid var(--gray-7);
  font-size: var(--text-4-size);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-150);
}

.header__button:hover {
  border: 1px solid var(--brand-2);
  background-color: var(--brand-2);
  cursor: pointer;
}

.banner__container {
  width: 100%;
  padding-block: clamp(3.125rem, 1.696rem + 7.143vw, 8.125rem);
  padding-inline: clamp(1.563rem, 1.652rem + -0.446vw, 1.25rem);
}

.banner__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: clamp(1rem, 0.5rem + 2.5vw, 2.75rem);
}

.banner__title {
  font-size: var(--title-1-size);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-140);
  color: var(--gray-6);
}

.banner__title--span {
  color: var(--brand-1);
}

.banner__text {
  margin-inline: clamp(0.625rem, -5.525rem + 23.153vw, 15.313rem);
  font-size: var(--text-1-size);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-150);
  color: var(--gray-4);
}

.banner__button {
  padding: 20px 32px;
  color: var(--gray-7);
  background-color: var(--brand-1);
  border: 1px solid var(--brand-1);
  font-size: var(--text-4-size);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-150);
}

.banner__button:hover {
  border: 1px solid var(--brand-2);
  background-color: var(--brand-2);
  cursor: pointer;
}

.about__container {
  width: 100%;
  background-color: var(--gray-1);
}

.about__info {
  width: 100%;
  padding-block: clamp(3.125rem, 1.696rem + 7.143vw, 8.125rem);
  padding-inline: clamp(0.938rem, -1.473rem + 12.054vw, 9.375rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  gap: clamp(1rem, -0.047rem + 3.941vw, 3.5rem);
}

.about__title {
  color: var(--gray-6);
  font-size: var(--title-2-size);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-160);
}

.about__text {
  width: 460px;
  font-size: var(--text-1-size);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-150);
  color: var(--gray-5);
}

.faq__container {
  width: 100%;
}

.faq__info {
  width: 100%;
  padding-block: clamp(3.125rem, 1.696rem + 7.143vw, 8.125rem);
  padding-inline: clamp(0.938rem, -1.473rem + 12.054vw, 9.375rem);
  display: flex;
  justify-content: space-between;
  text-align: justify;
  gap: clamp(1rem, -0.047rem + 3.941vw, 3.5rem);
}

.left-side__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: clamp(1.25rem, 0.91rem + 1.281vw, 2.063rem);
  padding-right: 40px;
  position: sticky;
  top: 150px;
}

.left-side__title {
  color: var(--gray-6);
  font-size: var(--title-2-size);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-160);
}

.left-side__text {
  color: var(--gray-4);
  font-size: var(--text-1-size);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-150);
}

.left-side__button {
  padding: 20px 32px;
  color: var(--gray-7);
  background-color: var(--brand-1);
  border: 1px solid var(--brand-1);
  font-size: var(--text-4-size);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-150);
}

.left-side__button:hover {
  border: 1px solid var(--brand-2);
  background-color: var(--brand-2);
  cursor: pointer;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 0.558rem + 3.547vw, 3.75rem);
}

.faq__item {
  width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, 0.738rem + 0.985vw, 1.625rem);
}

.item__title {
  color: var(--gray-6);
  font-size: clamp(1.375rem, 1.166rem + 0.788vw, 1.875rem);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-160);
}

.item__text {
  color: var(--gray-4);
  font-size: var(--text-1-size);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-150);
}

.comment__container {
  width: 100%;
}

.comment__info {
  width: 100%;
  padding-block: clamp(3.125rem, 1.696rem + 7.143vw, 8.125rem);
  padding-inline: clamp(0.938rem, -1.473rem + 12.054vw, 9.375rem);
  display: flex;
  flex-direction: row-reverse;
  text-align: justify;
  gap: clamp(1rem, -0.047rem + 3.941vw, 3.5rem);
}

.comment__right-side {
  padding-left: 40px;
}

.right-side__info {
  padding: 52px 52px;
  background-color: var(--brand-1);
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: sticky;
  top: 150px;
}

.right-side__title {
  color: var(--gray-7);
  font-size: 27px;
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-160);
  text-align: start;
}

.right-side__text {
  color: var(--gray-7);
  font-size: var(--text-3-size);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-150);
}

.comment__list {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, -0.018rem + 5.714vw, 5.125rem);
}

.comment__item {
  display: flex;
  gap: 16px;
}

.com-item__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.com-item__title {
  color: var(--gray-6);
  font-size: 22px;
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-160);
  text-align: center;
}

.com-item__subtitle {
  color: var(--gray-4);
  font-size: var(--text-3-size);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-150);
  text-align: center;
}

.com-item__text {
  width: 410px;
  color: var(--gray-5);
  font-size: var(--text-2-size);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-150);
}

.footer__container {
  width: 100%;
  background-color: var(--gray-1);
  display: flex;
  justify-content: center;
  padding-block: clamp(1.25rem, 0.988rem + 0.985vw, 1.875rem);
}

.modal__container {
  padding: 0;
  border: none;
}

.modal__info {
  width: 450px;
  padding: 28px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: justify;
  gap: 31px;
  background-color: var(--gray-2);
  border: 2px solid var(--brand-1);
}

.modal__header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.modal__title {
  font-size: var(--title-3-size);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-160);
  color: var(--gray-7);
}

.modal__button {
  height: 32px;
  font-size: var(--text-1-size);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-160);
  color: var(--gray-4);
  background-color: var(--gray-3);
  border: none;
  border-radius: 4px;
  padding-inline: 12px;
  cursor: pointer;
}

.modal__button:hover {
  background-color: var(--gray-1);
}

.modal__text {
  font-size: var(--text-3-size);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-150);
  color: var(--gray-5);
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.modal__form > input {
  font-size: var(--text-1-size);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-160);
  padding: 14px 20px;
  background-color: var(--gray-1);
  border: 1px solid var(--gray-1);
  color: var(--gray-4);
}

.modal__form > input::placeholder {
  color: var(--gray-4);
}

.modal__form > input:valid {
  background-color: var(--gray-3);
  border: 1px solid var(--gray-3);
}

.modal__form > input:focus {
  background-color: var(--gray-2);
  border: 1px solid var(--brand-1);
  outline: none;
}

.modal__form > button {
  font-size: var(--text-4-size);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-150);
  color: var(--gray-7);
  background-color: var(--brand-1);
  border: 1px solid var(--brand-1);
  padding: 14px 20px;
}

.modal__form > button:hover {
  border: 1px solid var(--brand-2);
  background-color: var(--brand-2);
  cursor: pointer;
}

::backdrop {
  background-color: rgba(25, 28, 31, 0.8);
}

@media (max-width: 767px) {
  .header__button {
    display: none;
  }
}

@media (max-width: 1023px) {
  .about__info {
    flex-direction: column;
  }

  .about__text {
    width: 98%;
  }

  .faq__info {
    flex-direction: column;
  }

  .left-side__info {
    padding-right: 0px;
    align-items: center;
  }

  .left-side__button {
    width: 100%;
  }

  .faq__list {
    padding-block: 24px;
  }

  .faq__item {
    width: 100%;
  }

  .item__title {
    text-align: center;
  }

  .comment__info {
    flex-direction: column;
    padding-top: 0;
  }

  .comment__right-side {
    padding-left: 0px;
  }

  .right-side__info {
    position: static;
  }

  .comment__list {
    padding-top: 24px;
  }

  .comment__item {
    flex-direction: column;
    align-items: start;
  }

  .com-item__info {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .com-item__text {
    width: 100%;
  }

  .modal__info {
    width: 80vw;
  }

  .modal__form > button {
    font-size: 14px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .about__info {
    padding-inline: clamp(2.5rem, -19.318rem + 34.091vw, 6.25rem);
  }

  .faq__info {
    padding-inline: clamp(2.5rem, -19.318rem + 34.091vw, 6.25rem);
  }

  .left-side__info {
    padding-right: clamp(0.938rem, -15.426rem + 25.568vw, 3.75rem);
  }

  .comment__info {
    padding-inline: clamp(2.5rem, -19.318rem + 34.091vw, 6.25rem);
    padding-top: 0;
  }

  .comment__right-side {
    padding-left: clamp(0.938rem, -15.426rem + 25.568vw, 3.75rem);
  }

  .comment__item {
    flex-direction: column;
    align-items: start;
  }

  .com-item__info {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .modal__info {
    width: 55vw;
  }
}
